<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <form
      action="/calculate"
      method="get"
      class="flex flex-col w-50 p-10 gap-2 items-start"
    >
      <h1 class="text-3xl">Post a comment</h1>
      <input
        class="bg-black text-white p-2"
        name="power"
        placeholder="comment"
      />
      <button class="bg-amber-400 font-bold px-2 py-0.5 text-2xl" type="submit">
        Submit
      </button>

      <ul>
        {% for comment in comments %}
        <li>{{comment}}</li>
        {% endfor %}
      </ul>
    </form>
  </body>
</html>
